main {
    display: flex;
    justify-content: space-between;
}


.header {
    background: linear-gradient(to right, rgb(83, 83, 240), rgb(5, 5, 117));
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.search-text {
    font-weight: bold;
    text-align: left;   
}

.search-input {
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
}

.btn {
    width: 100%;
    background-color: rgb(93, 93, 241);
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.search-body {
    border-bottom: 1px solid black;
    border-bottom-width: 80%;
}

.current-weather {
    border: 1px solid black;
    align-items: right;
}

.search-text {
    width: 100%;
}
